@media (min-width: 576px) and (max-width: 650px) {
  .container {
    max-width: 650px;
  }
}
@media (min-width: 651px) and (max-width: 720px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 721px) and (max-width: 767.98px) {
  .container {
    max-width: 767.98px;
  }
}
.btn-banco {
  border-radius: 2px;
  font-size: 13px;
  text-transform: uppercase;
}
.btn-banco:not(:disabled):not(.disabled):active, .btn-banco.focus, .btn-banco:hover, .btn-banco:focus {
  box-shadow: none;
}
.btn-banco.nav-link {
  border-radius: 0;
  border: none;
}
.btn-banco.btn-banco-primary {
  color: inherit;
  background-color: #303030 !important;
  border-color: #303030 !important;
}
.btn-banco.btn-banco-primary:not(:disabled):not(.disabled):active, .btn-banco.btn-banco-primary.focus, .btn-banco.btn-banco-primary:hover, .btn-banco.btn-banco-primary:focus {
  color: inherit;
  background-color: #303030 !important;
  border-color: #303030 !important;
}
.btn-banco.btn-banco-outline-primary {
  color: inherit;
  background-color: transparent !important;
  border-color: #303030 !important;
}
.btn-banco.btn-banco-outline-primary:not(:disabled):not(.disabled):active, .btn-banco.btn-banco-outline-primary.focus, .btn-banco.btn-banco-outline-primary:hover, .btn-banco.btn-banco-outline-primary:focus {
  color: inherit;
  background-color: #303030 !important;
  border-color: #303030 !important;
}
.btn-banco.btn-banco-secondary {
  color: inherit;
  background-color: #404040 !important;
  border-color: #404040 !important;
}
.btn-banco.btn-banco-secondary:not(:disabled):not(.disabled):active, .btn-banco.btn-banco-secondary.focus, .btn-banco.btn-banco-secondary:hover, .btn-banco.btn-banco-secondary:focus {
  color: inherit;
  background-color: #404040 !important;
  border-color: #404040 !important;
}
.btn-banco.btn-banco-outline-secondary {
  color: inherit;
  background-color: transparent !important;
  border-color: #404040 !important;
}
.btn-banco.btn-banco-outline-secondary:not(:disabled):not(.disabled):active, .btn-banco.btn-banco-outline-secondary.focus, .btn-banco.btn-banco-outline-secondary:hover, .btn-banco.btn-banco-outline-secondary:focus {
  color: inherit;
  background-color: #404040 !important;
  border-color: #404040 !important;
}
.btn-banco.btn-banco-tertiary {
  color: inherit;
  background-color: #293462 !important;
  border-color: #293462 !important;
}
.btn-banco.btn-banco-tertiary:not(:disabled):not(.disabled):active, .btn-banco.btn-banco-tertiary.focus, .btn-banco.btn-banco-tertiary:hover, .btn-banco.btn-banco-tertiary:focus {
  color: inherit;
  background-color: #293462 !important;
  border-color: #293462 !important;
}
.btn-banco.btn-banco-outline-tertiary {
  color: inherit;
  background-color: transparent !important;
  border-color: #293462 !important;
}
.btn-banco.btn-banco-outline-tertiary:not(:disabled):not(.disabled):active, .btn-banco.btn-banco-outline-tertiary.focus, .btn-banco.btn-banco-outline-tertiary:hover, .btn-banco.btn-banco-outline-tertiary:focus {
  color: inherit;
  background-color: #293462 !important;
  border-color: #293462 !important;
}
.btn-banco.btn-banco-4 {
  color: #000000;
  background-color: #f7be16 !important;
  border-color: #f7be16 !important;
}
.btn-banco.btn-banco-4:not(:disabled):not(.disabled):active, .btn-banco.btn-banco-4.focus, .btn-banco.btn-banco-4:hover, .btn-banco.btn-banco-4:focus {
  background-color: #f7be16 !important;
  border-color: #f7be16 !important;
}
.btn-banco.btn-banco-outline-4 {
  color: #f7be16;
  background-color: transparent !important;
  border-color: #f7be16 !important;
}
.btn-banco.btn-banco-outline-4:not(:disabled):not(.disabled):active, .btn-banco.btn-banco-outline-4.focus, .btn-banco.btn-banco-outline-4:hover, .btn-banco.btn-banco-outline-4:focus {
  color: #000000;
  background-color: #f7be16 !important;
  border-color: #f7be16 !important;
}

/*# sourceMappingURL=btn-banco.css.map */
