@import "colors";
body {
  font-family: 'Poppins', sans-serif;
  background-color: $bodyBG;
  font-weight: 400;
  font-size: 14px;
  color: $bodyColor;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  color: $titleColor;
  text-transform: uppercase;
  font-size: 13px;
}
strong, b {
  font-weight: 700;
}
a, a:link, a:active, a:visited, a:hover {
  text-decoration: none;
}
a, a:link, a:active, a:visited {
  color: #FFFFFF;
  opacity: .95;
  transition: all .2s;
}
a:hover {
  color: #FFFFFF;
  opacity: 1;
}